#gd-header-logo {
	background-image: url('../images/logo.png') !important;
}

.gd-metadata-wrapper.active {
	width: 334px;
	display: block;    
}

.gd-metadata-toggle:checked + .gd-lbl-metadata-toggle + .gd-metadata-sidebar-expanded{
  width: 300px;
}

.gd-metadata-toggle:checked + .gd-lbl-metadata-toggle {
  right: 286px;
  transition: right .25s ease-in-out;
}

.gd-metadata-toggle:checked + .gd-lbl-metadata-toggle + .gd-metadata-sidebar-expanded > .gd-metadata-content{
  display: block;
}

.gd-lbl-metadata-toggle{
	position: fixed;
    top: 52%;
	right: 12px;
    color: #959da5;
	z-index: 2;
	cursor: pointer;
}

.gd-lbl-metadata-toggle::before {
    content: ' ';
    display: block;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 5px solid currentColor;
}

.gd-metadata-content {
    display: none;
}

.gd-metadata-toggle:checked + .gd-lbl-metadata-toggle {
  transform: rotate(180deg) translateX(-3px);
}

.gd-metadata-toggle:checked + .gd-lbl-metadata-toggle + .gd-metadata-sidebar-expanded{
  width: 334px;
}

.gd-metadata-toggle:checked + .gd-lbl-metadata-toggle {
  right: 325px;
  transition: right .25s ease-in-out;
}

.gd-metadata-sidebar-expanded {
	width: 33px;
	overflow: hidden;
	transition: width .25s ease-in-out;
	position: fixed;
	right: 0;
	top: 50px;
	left: auto;
	background-color: #3e4e5a;
	height: 95%;		
	overflow-y: auto;
	z-index: 1;
}

.gd-com-heading{
    font-size:15px !important;
	color: #959da5;
	margin: 12px 0px 0px 10px;
}

#gd-save-metadata {
    width: 246px;
    margin-left: 11px;
    margin-top: 34px;
}

.gd-save-button {
    border-radius: 0px;
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 31px;
    position: relative;
    top: -25px;
    left: 11px;
    background-color: #30abd4;
    font-size: 18px;
    color: #fff;
    padding: 5px 0px;
}

.gd-metadata-avatar {
    position: relative;
    top: 0px;
    left: 8px;
    font-size: 22px;
    color: #959da5;
}

.gd-metadata-id {
    position: relative;
    top: 7px;
    left: 15px;
    color: #959da5;
    float: left;
    font-size: 21px !important;
}

.gd-delete-metadata {
    color: #959da5;
    position: relative;
    top: 7px;
    right: 42px;
    font-size: 25px;
    cursor: pointer;
    float: right;
}

.gd-metadata-input {
    margin: 16px 0 0 23px;
    width: 244px;
    font-size: 18px;
}

.gd-add-metadata {
    padding: 12px 0 13px 16px;
    width: 58px;
    cursor: pointer;
}

.fa-plus-circle {
    color: #959da5;
    font-size: 40px;
}

.gd-metadata-id-input {
    margin: 30px 0 0 0px;
}